<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TK" connectionString="server=PH-WWLT197;database=PII_TK;user id=sa;password=*WebWorks!" />
    <add name="SHR" connectionString="server=PH-WWLT197;database=PII_SHR;user id=sa;password=*WebWorks!" />
    <add name="DP" connectionString="server=PH-WWLT197;database=PII_DP;user id=sa;password=*WebWorks!" />
  </connectionStrings>
  <appSettings>
    <add key="salt" value=""/>
  </appSettings>
</configuration>